.logo-image {
  margin: 0px 10px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 170px;
  width: 255px;
  border-radius: 8px;
  border: none;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: white;
}

.failure-view-container {
  height: 170px;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orignals-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 170px;
}
.failure-reason {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
}
.try-again {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  width: 85px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #171f46;
}
.warning {
  height: 38px;
  width: 44px;
}
